<div class="">
  <% @problems.each do |problem| %>
  <h2>Category: <%= problem.category %></h2>
  <p>Location: <%= problem.location %></p>
  <p>Description: <%= problem.description.capitalize %></p>
  <p>Date: <%= problem.date %></p>
  <p>Votes: <%= problem.favoritors.count %></p>
  <% end %>
</div>
