<!-- THIS WILL BE A 'SINGLE' PROBLEM DISPLAYED ON THE MAP WHEN YOU CLICK A MARKER!-->

<div class="blue-backround">
  <%#= image_tag "bike-01.png", alt: "bike", class: 'bike-image' %>

  <div class="cards-main">

    <div class="card-trip">
     <% if @problem.category == "Glass" %>
     <%= image_tag "broken-glass-show.jpg"%>
     <% elsif @problem.category == "Construction work" %>
     <%= image_tag "blocked-road-show.jpg"%>
     <% else %>
     <%= image_tag "cycling-path-show.png"%>
     <% end %>
     <div class="card-trip-infos">
      <div>
        <h2>Category: <%= @problem.category %></h2>
<!--         <p>Location: <%#= @problem.location.capitalize %></p> -->
        <p>Description: <%= @problem.description.capitalize %></p>
        <p>Date: <%= @problem.date %></p>
        <p>Votes: <%= @problem.favoritors.count %></p>

      </div>
    </div>
</div>

