<!-- THIS WILL BE A 'SINGLE' PROBLEM DISPLAYED ON THE MAP WHEN YOU CLICK A MARKER!-->

<div class="blue-backround">
  <%#= image_tag "bike-01.png", alt: "bike", class: 'bike-image' %>

  <div class="cards-main">

    <div class="card-trip">
     <% if @problem.category == "Glass" %>
     <img src="https://images.unsplash.com/photo-1508061501437-e1b984a4d665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
     <% elsif @problem.category == "Construction Work" %>
     <img src="https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="">
     <% else %>
     <img src="https://pbs.twimg.com/media/DsyhtoJW0AUiwsa.jpg" alt="">
     <% end %>
     <div class="card-trip-infos">
      <div>
        <h2>Category: <%= @problem.category %></h2>
        <p>Location: <%= @problem.location.capitalize %></p>
        <p>Description: <%= @problem.description.capitalize %></p>
        <p>Date: <%= @problem.date %></p>
        <p>Votes: <%= @problem.favoritors.count %></p>

      </div>
    </div>
</div>

