<!-- PLS DO NOT TOUCH THE LOCATION :))))) THIS WILL BE A 'SINGLE' PROBLEM DISPLAYED ON THE MAP WHEN YOU CLICK A MARKER!-->

<div class="blue-backround">
  <%#= image_tag "bike-01.png", alt: "bike", class: 'bike-image' %>

  <div class="cards-main">

    <div class="card-trip pt-4">
      <div class="d-flex justify-content-center mt-3 mb-3" style="height:200px">
     <% if @problem.category.upcase == "GLASS" %>
        <%= image_tag "glass.png" %>
      <% elsif @problem.category.upcase == "CONSTRUCTION_WORK" || @problem.category.upcase == "CONSTRUCTION WORK" %>
        <%= image_tag "construction_work.png" %>
      <% else %>
        <%= image_tag "cycling_path.png" %>
      <% end %>
      </div>

     <div class="card-trip-infos">
      <div>
        <h2>Category: <%= @problem.category %></h2>
<!--         <p>Location: <%#= @problem.location.capitalize %></p> -->

        <p><u>Description:</u> <%= @problem.description.capitalize %></p>
        <p><u>Date:</u> <%= @problem.date.strftime("%d.%m.%Y %k:%M") %></p>
        <p><u>Votes:</u> <%= @problem.favoritors.count %></p>

      </div>
    </div>
</div>

