<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <%= link_to root_path do %> <i class="fa fa-home"></i><% end %>
  <%= link_to new_problem_path do %> <i class="fas fa-plus-circle"></i><% end %>
  <%= link_to problems_path do %> <i class="fas fa-map-marked-alt"></i><% end %>
  <%= link_to dashboard_path do %> <i class="fas fa-bookmark"></i><% end %>
  <%= link_to profile_path do %> <i class="fas fa-user-circle"></i><% end %>
</div>
