<!-- THIS 'DASHBOARD' IS SHOWING ALL THE PROBLEMS THE CURRENT USER VOTED FOR AND CREATED -->

<div class="blue-background container-main">

<h1>Contributions</h1>

  <div class="btn-group" role="group" aria-label="Basic example"
  style="align-items: flex-start; display: flex">

  <button id="Menu1-button" type="button" class="btn-requests-menu btn-requests-menu-active"> ⭕️ Mine </button>
<!--   add bookmark icon
 -->
  <button id="Menu2-button" type="button" class="btn-requests-menu"> ⭐️ Upvoted</button>
<!--   <button id="Menu3-button" type="button" class="btn-submit"> Menu 3 - All? requests</button>
 -->
  </div>

  <!-- <div class="seperater">
  </div> -->

  <div id="Menu1-container" class="show">

<!--     <h3>Menu 1-Created requests</h3>
 -->
    <% @user_problems.each do |user_problem| %>
  <%= link_to problem_path(user_problem) do %>
    <div class="card-product mt-3">
      <% if user_problem.category == "Glass" %>
        <img src="https://images.unsplash.com/photo-1508061501437-e1b984a4d665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
      <% elsif user_problem.category == "Construction work" %>
        <img src="https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80">
      <% else %>
        <img src="https://www.bussgeldkatalog.de/wp-content/uploads/verkehrszeichen-fahrradstrasse.png" alt="">
      <% end %>
      <div class="card-product-infos">
        <h2><%= user_problem.category %></h2>

        <p class="card-product-adress"><%= user_problem.location %></p>
        <p class="card-product-description"><%= user_problem.description %></p>


        <%= link_to "favorite", favorite_problem_path(user_problem, type: "favorite"), method: :put %>
        <%= link_to "unfavorite", favorite_problem_path(user_problem, type: "unfavorite"), method: :put %>
      </div>
    </div>
  <% end %>
<% end %>
</div>

  <div id="Menu2-container" class="hide">

<!--     <h3>Menu 2-Supported requests</h3>
 -->

  <% @favorite_problems.each do |favorite_problem| %>
    <%= favorite_problem.category %>
    <%= favorite_problem.location %>
    <% end %>
  </div>

</div>



