<!-- THIS 'DASHBOARD' IS SHOWING ALL THE PROBLEMS THE CURRENT USER VOTED FOR AND CREATED -->

<div class="blue-background container-main">

<h1>Dashboard</h1>

<h3>Created requests</h3>

<% @user_problems.each do |user_problem| %>
  <%= link_to problem_path(user_problem) do %>
    <div class="card-product">
      <% if user_problem.category == "Glass" %>
        <img src="https://images.unsplash.com/photo-1508061501437-e1b984a4d665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
      <% elsif user_problem.category == "Construction Work" %>
        <img src="https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="">
      <% else %>
        <img src="https://pbs.twimg.com/media/DsyhtoJW0AUiwsa.jpg" alt="">
      <% end %>
      <div class="card-product-infos">
        <h2><%= user_problem.category %></h2>
        <p><%= user_problem.location %></p>
        <p></p>
        <%= link_to "favorite", favorite_problem_path(user_problem, type: "favorite"), method: :put %>
        <%= link_to "unfavorite", favorite_problem_path(user_problem, type: "unfavorite"), method: :put %>
      </div>
    </div>
  <% end %>
<% end %>

<h3>Supported requests</h3>
  <% @favorite_problems.each do |favorite_problem| %>
    <%= favorite_problem.category %>
    <%= favorite_problem.location %>
  <% end %>
</div>



