
<div class="picture_backround">


  <div class="container">

  <%= image_tag "logo_transparent.png", alt: "logo", class: "logo"%>

  <h1>Welcome back <%= current_user.first_name %>!</h1>

  <%= link_to new_problem_path, class: "btn btn-ghost" do %> <i class="fas fa-plus-circle"></i> Add a Problem <% end %>
  <%= link_to problems_path, class: "btn btn-ghost" do %> <i class="fas fa-map-marked-alt"></i> Show my Map <% end %>
  <%= link_to dashboard_path, class: "btn btn-ghost" do %> <i class="far fa-bookmark"></i> My Contributions <% end %>
  <%= link_to dashboard_path, class: "btn btn-ghost" do %> <i class="fas fa-info-circle"></i> Information <% end %>

  </div>

</div>


