<div class="mt-5 pt-5">
  <div class="text-center mb-2">

<% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, class: "avatar" %>
        <% else %>
          <%= image_tag "default.gif", class: "avatar" %>
        <% end %>

  </div>
    <div class="text-center d-flex justify-content-center align-items-center">
      <%= link_to edit_user_registration_path, class: "edit-profile-icon" do %>
       <i class="fas fa-pencil-alt"></i>
      <% end %>
     <h3><%= current_user.username %></h3>
    </div>
</div>


<div class="text-center">

  <div class="profile_info">

    <p><%= current_user.first_name.capitalize %>
      <%= current_user.last_name.capitalize%></p>
      <p class="p-0" ><%= current_user.email.capitalize  %></p>


  </div>

    <div class="mb-4">
      <%= link_to edit_user_registration_path, class: "btn btn-outline" do %>
       <i class="fas fa-exchange-alt"></i> Change Password
      <% end %>
   </div>

    <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline" do %> <i class="fas fa-sign-out-alt"></i> Logout <% end %>
    <% end %>

</div>
